<ion-header>
  <ion-toolbar>
    <ion-title>Tambah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <p>Nama Buah</p>
    <ion-item>
      <ion-input></ion-input>
    </ion-item>
    <p>Harga Buah</p>
    <ion-item>
      <ion-input>Rp. </ion-input>
    </ion-item>
    <p>Tingkat Kematangan</p>
    <ion-item>
      <ion-label></ion-label>
      <ion-select>
        <ion-select-option value="matang">Matang</ion-select-option>
        <ion-select-option value="mengkal">Setengah Matang</ion-select-option>
        <ion-select-option value="mentah">Belum Matang</ion-select-option>
      </ion-select>
    </ion-item>
    <p>Catatan</p>
    <ion-item>
      <ion-textarea></ion-textarea>
    </ion-item>
</ion-list>

<ion-button type="submit">Kirim</ion-button>

</ion-content>
