
.artikel {
    padding: 10px 10px 10px 10px; 
    margin-left: 20px; 
    margin-right: 20px; 
    text-align: justify; 
    border: solid aqua; 
    background-color: aqua;
}
.artikel h1 {
    font-size: 16px; 
    color: black; 
    margin-top: -10px; 
    margin-bottom: -10px;
}