<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-list>
		<ion-list-header>
			<h1>Daftar Menu Buah</h1>
		</ion-list-header>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/apel.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Apel</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/alpukat.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Alpukat</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/anggur.png" />
			</ion-avatar>
			<ion-label>
				<h2>Anggur</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/jeruk.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Jeruk</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/pisang.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Pisang</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/plum.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Plum</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/sawo.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Sawo</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/buah_naga.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Buah Naga</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/sirsak.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Sirsak</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/kiwi.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Kiwi</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/matoa.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Matoa</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/sirsak.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Sirsak</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar slot="start">
				<img src="../../assets/icon/mangga.jpg" />
			</ion-avatar>
			<ion-label>
				<h2>Mangga</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>