<ion-header>
  <ion-toolbar>
    <ion-title>Keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Nama Buah </ion-label>
      <ion-button>+</ion-button>
      <p>5</p>
      <ion-button>-</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Nama Buah </ion-label>
      <ion-button>+</ion-button>
      <p>3</p>
      <ion-button>-</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Nama Buah </ion-label>
      <ion-button>+</ion-button>
      <p>1</p>
      <ion-button>-</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Nama Buah </ion-label>
      <ion-button>+</ion-button>
      <p>8</p>
      <ion-button>-</ion-button>
    </ion-item>
  </ion-list>
  <ion-button type="submit">Simpan</ion-button>
</ion-content>
